# Java / Maven
target/
*.class

# IntelliJ
.idea/
*.iml
out/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
application-local.yaml
application-local.yml

# Docker volumes / temp
*.tmp

# Local uploaded files
/storage/
.env
application-secret.yaml
application-local-secret.yaml